<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black;">
    <label class="navbar-brand" style="margin-left: 10px;">FAS</label>
    <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/productos" routerLinkActive="router-link-active" >
                    Productos
                    <span class="visually-hidden">
                        (current)
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/telefonos" routerLinkActive="router-link-active" >
                    Telefonos
                    <span class="visually-hidden">
                        (current)
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/payment" routerLinkActive="router-link-active" >
                    Payment
                    <span class="visually-hidden">
                        (current)
                    </span>
                </a>
            </li>
        </ul>
        <form class="d-flex my-2 my-lg-0" style="margin-right: 10px;">
            <input
                class="form-control me-sm-2"
                type="text"
                placeholder="Buscar"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Buscar
            </button>
        </form>
    </div>
</nav>


