<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h1 class="display-4">Fake Api Store</h1>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (producto of productos; track $index) {
      <div class="col mb-4">
        <div class="card h-100">
          <img [src]="producto.image" class="card-img-top img-fluid" style="object-fit: contain; height: 250px;" alt="Producto {{ producto.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ producto.title }}</h5>
            <p class="card-text" style="max-height: 80px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ producto.description }}</p>
            <p class="card-text">Precio: {{ producto.price }}</p>
            <p class="card-text">Categoría: {{ producto.category }}</p>
            <p class="card-text">Rating: {{ producto.rating.rate }} ({{ producto.rating.count }} votos)</p>
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-primary" (click)="addToCart(producto)">
                Añadir al carrito
                <i class="bi bi-cart4"></i>
              </button>
              <div class="contador">
                <button type="button" class="btn btn-secondary btn-sm" (click)="disminuirContador(producto)">-</button>
                <span>{{ producto.contador }}</span>
                <button type="button" class="btn btn-secondary btn-sm" (click)="aumentarContador(producto)">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  
</div>
